@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@500;600;700&display=swap');
html {
	scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
} 

body {
    background-color: #f1faff;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 968px;
    margin: auto;
}

.section {
    padding: 7rem 0 2rem;
}

.section__title {
    font-size: 2.5rem;
    color: #454343;
    text-align: center;
    margin-bottom: 1.5rem;
}

.section__height {
    height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    transition: 0.4s;
}

.nav {
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: #454343;
    font-weight: 700;
    font-size: 1.25rem;
}

.nav__name {
    font-weight: 600;
}

.nav__icon {
    font-size: 1.5rem;
}

.nav__list,
.nav__link {
    display: flex;
}

.nav__list {
    justify-content: space-around;
    column-gap: 3rem;
}

.nav__link {
    flex-direction: column;
    align-items: center;
    color: #454343;
    row-gap: 0.25rem;
}

.nav__link:hover {
    color: #5b75ad;
}

i.nav__icon {
    display: none;
}

.active__link {
    position: relative;
    color: #5b75ad;
    transition: all 0.3s ease;
}

@media screen and (min-width:769px) {
    .active__link::before {
        content: "";
        position: absolute;
        bottom: -0.4rem;
        width: 1rem;
        height: 3px;
        background-color: #5b75ad;
        border-radius: 3px;
    }
}

@media screen and (max-width:992px) {
    .container {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width:768px) {
    .nav__menu {
        position: fixed;
        bottom: 0;
        left: 0;
        border-color: #FFF;
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
        box-shadow: 0 -1px 12px rgb(59, 59, 59, 0.25);
    }

    .nav {
        height: 3rem;
    }

    i.nav__icon {
        display: block;
    }

    .section__title {
        font-size: 1.5rem;

    }
}

@media screen and (min-width:576px) {
    .nav__list {
        justify-content: center;

    }
}


/* _______________ */
html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 80px);
}

.hero h1 {
	font-size: 80px;
}

.hero p {
	font-size: 30px;
	text-transform: uppercase;
	color: #113CFC;
}

nav {
	background: #fff;
	height: 80px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	display: flex;
	position: sticky;
	top: 0;
	overflow: hidden;
}

nav a {
	flex: 1;
	height: 100%;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #000;
	transition: .2s ease-in-out all;
	font-weight: 500;
}

nav a:hover {
	background: #f0f0f0;
}

nav .indicador {
	width: 0px;
	height: 7px;
	background: #113cfc;
	position: absolute;
	bottom: 0;
	transition: .3s ease-out all;
	/* transform: translate(-500px); */
}

.seccion {
	min-height: 100vh;
	max-width: 800px;
	width: 90%;
	margin: auto;

	padding-top: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.seccion .card {
	background: #fff;
	height: 90%;
	padding: 40px;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.seccion h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

.seccion p {
	line-height: 38px;
	margin-bottom: 40px;
	color: #494949;
	font-size: 20px;
}

.seccion img {
	width: 100%;
	vertical-align: top;
	margin-bottom: 20px;
}



@media screen and (max-width: 800px) {
	nav a {
		font-size: 14px;
		padding: 5px;
	}
}

@media screen and (max-width: 450px) {
	nav a {
		font-size: 12px;
	}
}

/* _______________ */
